<?xml version="1.0"?>

<model>
  <name>room</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Milena Molska, Alicja Kuźniewska</name>
    <email>milena.molska@student.put.poznan.pl, alicja.kuzniewska@student.put.poznan.pl</email>
  </author>

  <description>
    Model of room.
  </description>

</model>
